main
{
    font-family: 'Raleway', sans-serif;
    text-decoration-color: black;
}
header
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width:440px;
    text-decoration: none;
}
nav ul
{
    list-style-type: none;
    display:flex;
    flex-direction:row;
}
nav li
{
    text-decoration: none;
}
li a
{
    padding:25px;
    text-decoration: none;
    color:black;
}
nav a:focus
{
    border-top: solid 1px #0065FC;
    color: #0065FC;
    text-decoration: none;
}
.subscription
{
    font-weight: bold;
    color: #0065FC;
}
a
{
    text-decoration: none;
}
.search-button
{
    height: 45px;
    width:430px;
    display:flex;
}
h1
{
    font-size: 1em;
    font-weight: bold;
}
p
{
    font-size:0.75em;
}
.map
{
    color: black;
    background-color: #f2f2f2;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
form
{
    display:flex;
    color: black;

}
input[type=search]
{
    padding:15px;
    border:1px solid #f2f2f2;
}
::placeholder
{
    color: black;
    font-weight: bold;
    font-family:'Raleway', sans-serif;
}
button
{
    border-radius: 0px 15px 15px 0px;
    border: 0;
    padding: 10px;
    background-color:#0065FC;
    color: white;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
}
