* {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Raleway', Arial, sans-serif;
    max-width: 100%;
}

.width {
    max-width: 1350px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
}

.logo {
    padding-left: 25px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    max-width: 440px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

nav li {
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
    color: black;
}
li a {
    padding: 25px;
    text-decoration: none;
    color: black;
}

nav li a:hover:not(.subscription){
    border-top: solid 1px #0065FC;
    color: #0065FC;
}

li .subscription {
    font-weight: bold;
    color: #0065FC;
}

.subscription-mobile {
    display: none;
}

a {
    text-decoration: none;
}

.search {
    padding-left: 10px;
}

.search-button {
    height: 45px;
    max-width: 430px;
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
}

p {
    font-size: 0.75em;
    padding-left: 10px;
    padding-top: 5px;
}

.ico-map {
    color: black;
    background-color: #f2f2f2;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    color: black;

}

input[type=search] {
    padding: 15px;
    border: 1px solid #f2f2f2;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.btn-search {
    border-radius: 0px 15px 15px 0px;
    border: 0;
    padding: 10px;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    padding-top: 10px;
}

.filters {
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
}

.btn-filter {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-left-style: none;
    border-radius: 25px;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 0px;
    margin-left: 25px;
}

.all-btn-filter {
    display: flex;
}

.btn-filter:hover {
    background-color: #f2f2f2;
}

.ico-filter {
    background-color: #deebff;
    color: #0065fc;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.information {
    display: flex;
    align-content: center;
    padding: 40px 15px 0px 10px;
}

.ico-info {
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    padding: 10px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.accomodation {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.accomodation p {
    padding-left: 0;
}

.list-accomodations {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 35px;
    margin-right: 40px;
    flex: 2.5;
}

.accomodation-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accomodation h1 {
    padding: 0px;
    margin: 0px;
}

.banner-accomodation {
    background-color: white;
    border-radius: 15px;
    padding: 6px;
    max-width: 235px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px#d9d9d9;
}

.accomodation-picture {
    max-width: 236px;
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    display: inline-block;
}

.accomodation-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accomodation-description {
    padding-left: 12px;
}

.accomodation-grade {
    padding-top: 5px;
}

.blue-star {
    color: #0065fc;
}

.grey-star {
    color: #d9d9d9;
}

.popular-accomodations {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 35px;
    flex: 1;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title i {
    display: flex;
    align-self: flex-end;
}

.banner-popular {
    background-color: white;
    border-radius: 15px;
    padding: 6px;
    max-width: 345px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px#d9d9d9;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.banner-popular a
{
    max-width: 345px;
    display: flex;
}

.popular-picture {
    max-width: 130px;
    height: 130px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    display: inline-block;
}

.popular-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-grade {
    position: absolute;
    bottom: 15px;
}

.accomodation-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

#activites-anchor {
    padding-left: 10px;
}

h1 {
    padding-top: 50px;
}

.display-more {
    padding-top: 40px;
}

.activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}
.activity-banner a
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.activity-banner {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 5px#d9d9d9;
    width: 23%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-banner:nth-child(1) {
    height: 100%;
}

.activity-banner:nth-child(2) {
    height: 50%;
}

.activity-banner:nth-child(3) {
    height: 38%;
}

.activity-banner:nth-child(4) {
    height: 100%;
}

.activity-banner:nth-child(5) {
    height: 47%;
}

.activity-banner:nth-child(6) {
    height: 41%;
}

.activity-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activity-banner h2 {
    padding: 15px 15px 15px 5px;
}

footer {
    background-color: #f2f2f2;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    padding: 5px 0px 5px 0px;
}

.footer a {
    padding: 0;
}

.about {
    width: 30%;
}

.our-accomodation {
    width: 30%;
}

.help {
    width: 30%;
}

@media all and (max-width:1113px) {
    .width {
        max-width: 1113px;
    }

    .banner-popular {
        display: flex;
        flex-direction: column;
    }

    .popular-picture {
        max-width: 236px;
        height: 114px;
        border-radius: 15px 15px 0px 0px;
        align-self: center;
    }

    .popular-picture img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .popular-grade {
        position: static;
    }
}

@media all and (max-width:1024px) {
    .width {
        max-width: 1024px;
    }

    .accomodation {
        display: flex;
        flex-direction: column;
    }

    .list-accomodations {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .popular-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .banner-popular {
        padding: 6px;
        max-width: 235px;
    }

    .accomodation-description {
        flex-wrap: wrap;
    }
}

@media all and (max-width:848px) {
    .width {
        max-width: 848px;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .btn-filter {
        margin-top: 3px;
    }

    .all-btn-filter {
        flex-wrap: wrap;
    }

    .popular-display {
        flex-direction: column;
    }

    .banner-popular {
        max-width: 700px;
        flex-direction: row;
    }

    .banner-accomodation {
        max-width: 337px;
        flex-direction: row;
    }

    .popular-picture {
        border-radius: 15px 0px 0px 15px;
    }

    .banner-popular .accomodation-description {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width:482px) {

    .width {
        max-width: 482px;
    }

    .popular-picture {
        max-width: 130px;
    }
}

@media all and (max-width:377px) {
    .width {
        max-width: 377px;
    }

    header {
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0px;
        height: auto;
    }

    .mobile-nav {
        display: flex;
        align-self: center;
        justify-content: space-between;
        width: 100%;
    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;
        border-bottom: solid 2px #f2f2f2;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 25px;
        justify-content: space-between;
    }

    nav li a:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;
        color: #0065FC;
        text-decoration: none;
    }

    li a {
        padding: 25px 50px 25px 50px;
    }

    .subscription {
        display: none;
    }

    .subscription-mobile {
        display: flex;
        justify-self: end;
        align-self: center;
        font-weight: bold;
        color: #0065FC;
        padding-right: 25px;
    }

    .accomodation {
        flex-direction: column-reverse;
        padding-left: 0px;
    }

    .list-accomodations {
        background-color: white;
    }

    .banner-accomodation {
        max-width: 335px;
        flex: auto;
        box-shadow: 0 0 15px#d9d9d9;
    }

    .popular-accomodations {
        background-color: #f2f2f2;
        border-radius: 0px;
    }

    .accomodation-picture {
        max-width: 335px;
        height: 115px;
    }

    .activities {
        flex-wrap: nowrap;
        height: unset;
    }

    .activity-banner {
        width: 90%;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        flex-direction: column;
    }
    .footer h2
    {
        padding-bottom: 10px;
    }
    .about {
        width: 100%;
        padding-left: 25px;
    }

    .our-accomodation {
        width: 100%;
        padding-left: 25px;
        padding-top: 25px;
    }

    .help {
        width: 100%;
        padding-left: 25px;
        padding-top: 25px;
    }
}