* {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Raleway', Arial, sans-serif;
    max-width: 100%;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 50px;
}

p {
    font-size: 0.75em;
    padding-left: 10px;
    padding-top: 5px;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1em;
    padding-top: 10px;
}

.width {
    max-width: 1350px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    margin: auto;
}

.logo {
    padding-left: 25px;
    margin-right: auto;

}

nav {
    display: flex;
    align-items: center;
    max-width: 440px;
}
nav li a:hover {
    border-top: solid 1px #0065FC;
    color: #0065FC;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-self: flex-end;
    margin-top: 0px;
}

nav li {
    text-decoration: none;
}

.accomodation a:visited {
    text-decoration: none;
    color: black;
}

.activities a:visited {
    text-decoration: none;
    color: black;
}

li a {
    padding: 25px;
    text-decoration: none;
    color: black;
}

.subscription {
    font-weight: bold;
    color: #0065FC;
    order:3;
    padding-right: 10px;
}

.search {
    padding-left: 10px;
}

.search-ico {
    display: none;
}

.search-button {
    height: 45px;
    max-width: 430px;
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
}

.ico-map {
    color: black;
    background-color: #f2f2f2;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    color: black;

}

input[type=search] {
    padding: 15px;
    border: 1px solid #f2f2f2;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.btn-search {
    border-radius: 0px 15px 15px 0px;
    border: 0;
    padding: 10px;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.filters {
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
}

.btn-filter {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-left-style: none;
    border-radius: 25px;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 0px;
    margin-left: 25px;
}

.all-btn-filter {
    display: flex;
}

.btn-filter:hover {
    background-color: #f2f2f2;
}

.ico-filter {
    background-color: #deebff;
    color: #0065fc;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.information {
    display: flex;
    align-content: center;
    padding: 40px 15px 0px 10px;
}

.ico-info {
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    padding: 10px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.accomodation {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.accomodation p {
    padding-left: 0;
}

.list-accomodations {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 35px;
    margin-right: 40px;
    flex: 2.5;
}

.accomodation-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accomodation h2 {
    padding: 0px;
    margin: 0px;
}

.banner-accomodation {
    background-color: white;
    border-radius: 15px;
    padding: 6px;
    max-width: 235px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px#d9d9d9;
}

.accomodation-picture {
    max-width: 236px;
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    display: inline-block;
}

.accomodation-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accomodation-description {
    padding-left: 12px;
}

.accomodation-grade {
    padding-top: 5px;
}

.blue-star {
    color: #0065fc;
}

.grey-star {
    color: #d9d9d9;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title i {
    display: flex;
    align-self: flex-end;
}

.popular-accomodations {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 35px;
    flex: 1;
}

.banner-popular {
    background-color: white;
    border-radius: 15px;
    padding: 6px;
    max-width: 345px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px#d9d9d9;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.banner-popular a {
    max-width: 345px;
    display: flex;
}

.popular-picture {
    max-width: 130px;
    height: 130px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    display: inline-block;
}

.popular-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-grade {
    position: absolute;
    bottom: 15px;
}

.accomodation-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}


.display-more {
    padding-top: 40px;
}

#activites-anchor {
    padding-left: 10px;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}

.activity-banner a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activities-col-2 {
    display: flex;
    flex-direction: column;
    height: 445px;
    justify-content: space-between;
}

.activity-banner {
    border-radius: 15px;
    box-shadow: 0px 5px 5px#d9d9d9;
}

.size-img-1 {
    max-height: 445px;
    max-width: 300px;
}

.size-img-2 {
    max-height: 240px;
    max-width: 300px;
}

.size-img-3 {
    max-height: 170px;
    max-width: 300px;
}

.size-img-4 {
    max-height: 200px;
    max-width: 300px;
}

.size-img-5 {
    max-height: 210px;
    max-width: 300px;
}

.activity-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activity-banner h3{
    padding: 15px 15px 15px 5px;
}

footer {
    background-color: #f2f2f2;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    padding: 5px 0px 5px 0px;
}

.footer a {
    padding: 0;
}

.about,.our-accomodation,.help {
    width: 30%;
}

@media all and (max-width:1230px) {

    .activities {
        padding-left: 10px;
        padding-right: 10px;
    }

    .size-img-1 {
        max-height: 400px;
        max-width: 270px;
    }

    .size-img-2 {
        max-height: 240px;
        max-width: 270px;
    }

    .size-img-3 {
        max-height: 120px;
        max-width: 270px;
    }

    .size-img-4 {
        max-height: 160px;
        max-width: 270px;
    }

    .size-img-5 {
        max-height: 200px;
        max-width: 270px;
    }

    .activities-col-2 {
        height: 400px;

    }
}

@media all and (max-width:1113px) {
    .width {
        max-width: 1113px;
    }

    .banner-popular {
        display: flex;
        flex-direction: column;
        position: static;
        max-width: 236px;
    }

    .banner-popular a {
        flex-direction: column;
        max-width: 236px;
    }

    .popular-picture {
        max-width: 236px;
        height: 114px;
        border-radius: 15px 15px 0px 0px;
        align-self: center;
    }

    .popular-picture img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        display: inline-block;
    }

    .popular-grade {
        position: static;
    }

    .size-img-1 {
        max-height: 260px;
        max-width: 220px;
    }

    .size-img-2 {
        max-height: 150px;
        max-width: 220px;
    }

    .size-img-3 {
        max-height: 100px;
        max-width: 220px;
    }

    .size-img-4 {
        max-height: 100px;
        max-width: 220px;
    }

    .size-img-5 {
        max-height: 125px;
        max-width: 220px;
    }

    .activities-col-2 {
        height: 260px;

    }
}

@media all and (max-width:1024px) {
    .width {
        max-width: 1024px;
    }

    .accomodation {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }

    .list-accomodations {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .popular-display {
        display: flex;
        justify-content: space-between;
    }

    .accomodation-description {
        flex-wrap: wrap;
    }
}

@media all and (max-width:913px) {

    .size-img-2,
    .size-img-3,
    .size-img-4,
    .size-img-5 {
        max-height: 200px;
        max-width: 335px;
        margin-bottom: 25px;
    }

    .size-img-1 {
        max-height: 425px;
        max-width: 335px;
        margin-bottom: 25px;
    }

    .activities {
        flex-wrap: wrap;
    }

    .activities-col-2 {
        height: auto;
        flex-wrap: wrap;
    }

}

@media all and (max-width:848px) {
    .width {
        max-width: 848px;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-filter {
        margin-top: 3px;
    }

    .all-btn-filter {
        flex-wrap: wrap;
    }

    .accomodation-display {
        justify-content: center;
    }

    .popular-display {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-accomodation {
        margin-right: 15px;
    }

    .banner-popular {
        margin-right: 15px;
    }
}

@media all and (max-width:682px) {
    .activities {
        justify-content: center;
    }

    .size-img-1 {
        max-height: 200px;
    }

    
}

@media all and (max-width:482px) {

    .width {
        max-width: 482px;
    }

    .search-ico {
        display: flex;
    }

    .search {
        flex-wrap: wrap;
    }

    .search-text {
        display: none;
    }

    .btn-search {
        border-radius: 10px;
        background-color: #0065FC;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1px;
    }

    form {
        position: relative;
    }
    header {
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0px;
        height: auto;
    }

    nav {
        flex-wrap: wrap;
        border-bottom: solid 2px #f2f2f2;
        padding-top: 20px;
        padding-bottom: 25px;
        justify-content: space-between;
        max-width: 682px;
    }
    nav li a:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;
        color: #0065FC;
        text-decoration: none;
    }

    li a {
        padding: 25px 50px 25px 50px;
    }
    .logo{
        margin: 0;
        align-self: flex-start;
    }
    .subscription{
        order:0;
        padding-top: 20px;
        padding-left: 100px;
    }

}

@media all and (max-width:377px) {

    .width {
        max-width: 377px;
    }
    .subscription{
        padding-right: 0px;
    }
    li a {
        padding: 25px 35px 25px 35px;
    }

    nav ul{
        order:3
    }

    .accomodation {
        flex-direction: column-reverse;
        padding: 25px 0 0 0;
    }

    .list-accomodations {
        background-color: white;
    }

    .banner-accomodation {
        max-width: 335px;
        box-shadow: 0 0 15px#d9d9d9;
    }

    .popular-accomodations {
        background-color: #f2f2f2;
        border-radius: 0px;
    }

    .accomodation-picture {
        max-width: 335px;
        height: 115px;
    }

    .banner-popular {
        max-width: 330px;
        margin-top: 20px;
        flex-direction: row;
        position: relative;
    }

    .banner-popular a {
        max-width: 345px;
        min-width: 250px;
        display: flex;
        flex-direction: row;
    }

    .popular-picture {
        max-width: 130px;
        height: 134px;
        border-radius: 15px 0px 0px 15px;
        overflow: hidden;
        display: inline-block;
    }

    .popular-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .popular-grade {
        position: absolute;
        bottom: 15px;
    }

    .footer {
        flex-direction: column;
    }

    .footer h3 {
        padding-bottom: 10px;
    }

    .about {
        padding-left: 25px;
        width: 78%;

    }

    .our-accomodation,.help {
        padding-left: 25px;
        padding-top: 25px;
        width: 78%;


    }

}